{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'resume/style.css'%}" />
  <title>HEEHAM</title>
</head>
<body>  
  <h1 class="title">HEEHAM</h1>
  <img src="{% static 'resume/images/brown.png' %}" alt="profile" />
  <p>
    안녕하세요, 저는 HEEHAM 입니다. 세상을 더 좋은 세상으로 바꾸는 개발자가 되고 싶습니다.
  </p>

  <h2>About Me</h2>
  <ul>
    <li>Email: heeham@kakao.com</li>
    <li>Instagram: _heeham</li>
    <li>Phone: +82-10-0000-1234</li>    
  </ul>

  <h2>Portfolios</h2>
  <ol>
    <li>Instagram Project: <a href="/posts/">#Link</a></li>
    <li>...</li>
  </ol>
  
</body>
</html>